{% set activePage = 'feedback' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bunte Webseite fürs Backoffice</h1>

    <h3>Feedbacks</h3>
    <p>Feedbacks count: {{ feedbacks|length }}</p>
    <table class="table table-striped table-sm">
        <tr>
            <th>Portfolio</th>
            <th>Mood</th>
            <th>Feedback</th>
            <th></th>
        </tr>
        {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.portfolio }}</td>
                <td>{{ feedback.mood }}</td>
                <td>{{ feedback.feedback }}</td>
                <td><a href="" type="button" class="btn btn-sm btn-outline-primary">Löschen</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
